# Code formatting
black

# Check that MANIFEST.in matches Git repo contents before making a release
check-manifest

# Check code style, error, etc
flake8
flake8-import-order

# unittest.mock for Python 2.7
mock

# Unit testing
pytest
pytest-cov
pytest-mock

# Build documentation
sphinx

# Test runner
tox

# To make wheel packages
wheel

# Securely upload packages to PyPI
twine
