include *.rst
include .coveragerc
include .travis.yml
include LICENSE
include pylintrc
include setup.cfg
include tox.ini

recursive-include docs *
prune docs/_build

recursive-include examples *.py

recursive-include tests *.py
