include *.rst
include *.txt
include *.yml
include AUTHORS
include AUTHORS.update
include LICENSE
include pylintrc
include pyproject.toml
include setup.cfg
include tox.ini

recursive-include .circleci *
recursive-include .github *

recursive-include docs *
prune docs/_build

recursive-include examples *.py

recursive-include tests *.py
