[tool.poetry]
name = "pykka"
version = "3.0.2"
description = "Pykka is a Python implementation of the actor model"
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/jodal/pykka"
repository = "https://github.com/jodal/pykka"
documentation = "https://pykka.readthedocs.io/"
keywords = ["actor", "concurrency", "threading"]
classifiers = [
   "Development Status :: 5 - Production/Stable",
   "Intended Audience :: Developers",
   "Topic :: Software Development :: Libraries",
   "Programming Language :: Python :: 3.6",  # Not automatically added because we require >= 3.6.2
]

[tool.poetry.dependencies]
python = "^3.6.2"
importlib_metadata = {version = ">=1.6", python = "<3.8"}

[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^3.9.2"
flake8-black = "^0.2.1"
flake8-bugbear = "^21.4.3"
flake8-isort = "^4.0.0"
flake8-pyi = "^20.10.0"
isort = "^5.9.2"
mypy = "^0.910"
pytest = "^6.2.4"
pytest-cov = "^3.0.0"
pytest-mock = "^3.6.1"
tox = "^3.23.1"

[tool.black]
target-version = ["py36", "py37", "py38", "py39"]

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
