[tool.poetry]
name = "pykka"
version = "3.1.0"
description = "Pykka is a Python implementation of the actor model"
authors = ["Stein Magnus Jodal <stein.magnus@jodal.no>"]
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/jodal/pykka"
repository = "https://github.com/jodal/pykka"
documentation = "https://pykka.readthedocs.io/"
keywords = ["actor", "concurrency", "threading"]
classifiers = [
   "Development Status :: 5 - Production/Stable",
   "Intended Audience :: Developers",
   "Topic :: Software Development :: Libraries",
]
include = ["docs", "examples", "setup.cfg", "tests", "tox.ini"]

[tool.poetry.dependencies]
python = "^3.7.0"
importlib_metadata = { version = ">=1.6", python = "<3.8" }

[tool.poetry.dev-dependencies]
black = "^22.1"
flake8 = "^4.0.1"
flake8-black = "^0.3.2"
flake8-bugbear = "^22.1.11"
flake8-isort = "^4.0.0"
flake8-pyi = "^22.1.0"
isort = "^5.9.2"
mypy = "^0.960"
pytest = "^7.0.0"
pytest-cov = "^3.0.0"
pytest-mock = "^3.6.1"
tox = "^3.23.1"

[tool.black]
target-version = ["py37", "py38", "py39"]

[tool.isort]
profile = "black"

[tool.mypy]
no_implicit_optional = true
strict_equality = true
warn_return_any = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true

[[tool.mypy.overrides]]
# Options that only applies to src, and not tests
module = "pykka.*"
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = [
   "importlib.*", # importlib types are missing when running mypy on Python 3.7
   "pytest.*",
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
